				
        <br>
        <br>

        <div class="search">
        <div class="col-lg-6 col-md-offset-3">
        <div class="input-group ">

      
        <%= form_tag rack_path, method: :get do %>
        <div class="col-md-4">
        <%= text_field_tag :item_name, params[:search], placeholder: "Searching for...", class: "form-control" %>

        </div>
        <div class="col-md-4">
        <%= text_field_tag :city, params[:search], placeholder: "At location... ", class: "form-control address" %>
        </div>
        <div class="col-md-4">
         <%= submit_tag "Search", class: "btn btn-primary form-control" %>
        </div>  

        <% end %>


      </div>
      </div>
      </div>

<br>
<br>
<br>
<br>
<hr>
<br>
<br>
<br>



<div class=" jumbotron">



  <h1>Get your hunting equipment</h1>

  <h2>
    Without having to own it.
  </h2>

<br>
<br>
<br>
<br>
<br>

  <% puts cookies["browser.timezone"] %>



   <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <%= image_tag("deer.png", class: "img-responsive") %>
                </a>
            </div>
            <div class="col-md-6 portfolio-item">
                <h3>
                    Rent your arms
                </h3>
                <h4>Armrack allows you to safely rent your firearms for your next hunting trip.
                Skip paying expensive shipping fees, and rent.</h4>
            </div>
        </div>
        <!-- /.row -->
        <br>
        <br>
        <br>

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <%= image_tag("armoury.png", class: "img-responsive") %>
                </a>
            </div>
            <div class="col-md-6 portfolio-item">
                <h3>
                    Rack your arms
                </h3>
                <h4>Have an arm you're willing to lend ? List your rifle on Armrack and reap
                the benefits of our community.</h4>
            </div>
        </div>
        <!-- /.row -->
        <br>
        <br>
        <br>

        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <%= image_tag("breda.png", class: "img-responsive") %>
                </a>
            </div>
            <div class="col-md-6 portfolio-item">
                <h3>
                    Join the movement
                </h3>
                <h4>Armrack is building a trusted community of responsible arms lovers. Help us achieve
                our dream.</h4>
            </div>
        </div>

        <br>
        <br>
        <br>
        <hr>
        <br>
        <br>
        <br>

          <%= link_to "Sign up now!", signup_path, class: "btn btn-lg col-md-6 col-md-offset-3 btn-primary " %>




</div>














<script>
  $(document).ready( function () {
    $(".address").geocomplete();
   


  });
</script>
