<% provide(:title, 'Sign up') %>

<div class="container">

<div class="row">
    <%= form_for(@user) do |f| %>

    <div class="col-md-6 col-md-offset-3">
		<form role="form">
		<br>
		<br>
			<h1>Sign Up</h2>
			<br>
			<br>
			<hr class="colorgraph">
			<br>
			<br>

			<div class="row">
			    <%= render 'shared/error_messages', object: f.object %>
				<div class="col-xs-6 col-sm-6 col-md-6">
					<div class="form-group">
            <%= f.text_field :first_name, class: 'form-control input-lg', placeholder: 'First Name' %>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6">
					<div class="form-group">
            <%= f.text_field :last_name, class: 'form-control input-lg', placeholder: 'Last Name' %>
					</div>
				</div>
			</div>
			<div class="form-group">
        <%= f.text_field :organization, class: 'form-control input-lg', placeholder: 'Organization (optional)' %>
			</div>
			<div class="form-group">
        <%= f.text_field :email, class: 'form-control input-lg', placeholder: 'Email' %>
			</div>
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6">
					<div class="form-group">
            <%= f.password_field :password, class: 'form-control input-lg', placeholder: 'Password' %>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6">
					<div class="form-group">
            <%= f.password_field :password_confirmation, class: 'form-control input-lg', placeholder: 'Password confirmation' %>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-xs-8 col-sm-8 col-md-8 col-md-offset-2 small">
					 By clicking <strong class="label label-primary">Create my account</strong>, you agree to the Terms and Conditions set out by Armrack, Inc including our Cookie Use.
				</div>
			</div>
			<br>
			<br>
			<hr class="colorgraph">
			<br>
			<br>
			<div class="row">
				<div class="col-xs-6 col-md-6 col-md-offset-3"><%= f.submit "Create my account", class: "btn btn-primary btn-block btn-lg", tabindex: '7' %></div>
			</div>
			<% end %>
		</form>
	</div>
</div>

</div>

















