<% if params[:controller] == 'items' && %w(my_reservations).include?(params[:action]) %>

<% item.reservations.each do |res| %>
  <li id="item-<%= item.id %>">
    <span class="content h3"><%= link_to (item.item_name), item_path(item) %>

      <div class="well h4 pull-right">Due date: <%= res.due_date.strftime("%I:%M %p") %></div>

    </span>
    <span class="timestamp">
      Price: $<%= item.lending_price %> | 
      <% if item.lending_status == "not available" %>
      Due back on: <%= reservation.due_date %> | Status: <span class="label label-danger">Available</span>
      <% else %>
      Status: <span class="label label-success">Available</span>
      <% end %>
      | <%= link_to ("Edit listing"), edit_item_url(item) %>

    </span>
  </li>
<% end %>

<% else %>



<li id="item-<%= item.id %>">
  <span class="content h3"><%= link_to (item.item_name), item_path(item) %>
    <% if item.listing_status == "Unlisted" %>
      <%= link_to "Finish Listing", edit_item_path(item), class: "btn btn-default  pull-right" %>
    <% end %>
  </span>
  <span class="timestamp">
    Price: $<%= item.lending_price %> | 
    

    <% if item.listing_status == "not available" %>
    Due back on: <%= reservation.due_date %> | Status: <span class="label label-danger">Available</span>
    <% else %>
      <% if item.listing_status == "Unlisted" %>
      Status: <span class="label label-warning">Unlisted</span> <div class=""></div>

      <% else %>
      Status: <span class="label label-success">Available</span>
      <% end %>
    <% end %>

  </span>
</li>
<% end %>