<% if params[:commit] == "Search" %>

<div class="row" id="photo-row">
<% item.photos.first do |photo| %>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail" >
      <%= image_tag photo.image_url(:thumb) if photo.image? %>
      <div class="caption">
        <%= photo.title %>
        <%= link_to 'Remove', delete_photo_path(photo), method: :delete, remote: true, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  
 <% end %>
</div>






<% else %>
<li id="item-<%= item.id %>">
  <span class="content"><%= link_to (item.item_name) %></span>
  <span class="timestamp">
    Price: $<%= item.lending_price %> | 
    <% if item.lending_status == "not available" %>
    Due back on: <%= reservation.due_date %> | Status: <span class="label label-danger">Available</span>
    <% else %>
    Status: <span class="label label-success">Available</span>
    <% end %>
    | <%= link_to ("Edit listing"), edit_item_url(item) %>

  </span>
</li>
<% end %>