<div class="jumbotron">

<div class="row" id="photo-row">
<% @items.each do |item| %>
  <%= link_to item_path(item) do %>

<% item.photos.first(1).each do |photo| %>
  
    
    <div class="col-sm-6 col-md-4">

      <div class="thumbnail" >
        
        <%= image_tag photo.image_url(:thumb) if photo.image? %>
        <div class="center">
        <p><span class="badge">$<%= item.lending_price %> per day</span></p>
        </div>
        <hr>     
        <div class=" center">
          <p><%= item.item_name %></p>
          <p><%= item.location.city %> <%= item.location.state %> </p>
        </div>



      </div>
    </div>
  <% end %>
  
 <% end %>


<% end %>
</div>
</div>