<% provide(:title, @user.first_name + "'s Listings") %>
<% if params[:commit] == "Search" %>
  <%= render 'search' %>
<% else %>



<div class="row">
  <aside class="col-md-2">
    <section class="user_info">
    	<ul class="nav nav-pills nav-stacked">
            <% unless @user.uid.blank? %>
              <li role="presentation" class=""> <%= link_to rack_path do %> 
              <i class="glyphicon glyphicon-list"> Listings</i>
              <% end %>
              </li>
            <% end %>
            <li role="presentation" class="active"><%= link_to my_requests_path(@item) do %> 
            <i class="glyphicon glyphicon-inbox"> Requests</i>
            <% end %>
            </li>
            
            <li role="presentation" class=""><%= link_to my_reservations_path(@item) do %> 
            <i class="glyphicon glyphicon-shopping-cart"> Reservations</i>
            <% end %>
            </li>
    	</ul>
    </section>
  </aside>
  <% if @requests.any? %>

    <div class="col-md-10 ">
    	<div class="panel panel-default">
    		<div class="panel-heading">
    			<h3 class="panel-title">Requests (<%= @items.count %>)</h3>
    		</div>
    		<div class="panel-body">
    	  	<% if @items.any? %>
    	  	  <ol class="items">
              <div id="items_render">
    	  	    <%= render 'requests' %>
              </div>
    	  	  </ol>
    	  	  <%= will_paginate @items, remote: true %>
    	  	<% end %>
    	  </div>
    	</div>
    </div>

    <div class="col-md-10 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Requested (<%= @req_count.count %>)</h3>
        </div>
        <div class="panel-body">
          <% if @requests.any? %>
            <ol class="items">
              <div id="items_render">
              <%= render 'requested' %>
              </div>
            </ol>
            <%= will_paginate @items, remote: true %>
          <% end %>
        </div>
      </div>
    </div>





  <% else %>
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Requests (<%= @items.count %>)</h3>
        </div>
        <div class="panel-body">
          <% if @items.any? %>
            <ol class="items">
              <div id="items_render">
              <%= render 'requests' %>
              </div>
            </ol>
            <%= will_paginate @items, remote: true %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% end %>