<div class="row">
  <aside class="col-md-8">
    <section class="user_info">
      <br>
      <div class="owl-carousel owl-theme" id="owl-example">
        <% @item.photos.each do |photo| %>
          <div class="item"> <%= image_tag photo.image_url(:index) if photo.image? %> </div>
        <% end %>
      </div>
      </section>
  </aside>
  <hr>
  <h1><bold>$<%= @item.lending_price %> / day</bold></h1>
  <hr>
  <div class="col-md-2">

  <%= form_tag reservations_path, method: :get do %>

  <br>
    <div class="panel panel-default">
      <div class="panel-body">
        Borrow date:
        <%= text_field_tag 'borrow_date' %>
      </div>
    </div>
  </div> 
  <div class="col-md-2">
  <br>
    <div class="panel panel-default">
      <div class="panel-body">
        Due date: 
        <%= text_field_tag 'due_date' %>
      </div>
    </div>
  </div>
  <div class="col-md-4">

    <%= hidden_field_tag "lending_id", @lending_user.id %>
    <%= hidden_field_tag "lender_id", @lender_user.id %>
    <%= hidden_field_tag "item_id", @item.id %>
    <% if @lending_user.id == @lender_user.id %>
    <button type="button" class="btn btn-primary btn-block btn-lg ">Request Reservation</button>
      <div class="center">
      <h4><small>(Your item)</small></h4>
      </div>
    <% else %>
    <%= submit_tag "Request Reservation", class: "btn btn-primary btn-block btn-lg form-control" %>
    <% end %>
  </div>
  <% end %>
  
</div>




<script type="text/javascript">
  $(document).ready( function () {
    $("#owl-example").owlCarousel({
 
      navigation : true, // Show next and prev buttons
      slideSpeed : 300,
      paginationSpeed : 400,
      singleItem: true
 
      // "singleItem:true" is a shortcut for:
      // items : 1, 
      // itemsDesktop : false,
      // itemsDesktopSmall : false,
      // itemsTablet: false,
      // itemsMobile : false
 
     });
    $('#borrow_date').datetimepicker({
      minDate:'0',
      minTime:'0',
      formatTime: 'g:i A',
      ampm: true

    });


    $('#due_date').datetimepicker({
      minDate:'0',
      formatTime: 'g:i A',
      ampm: true
    });


  });
</script>












