<% provide(:title, 'Edit listing') %>


<div class="container">
<div class="row">
<div class="col-md-2 navbar-edit">
<ul id="sidebar" class="nav nav-pills nav-stacked">
    <li role="" class=""> <%= link_to edit_item_path do %>
    <i class="glyphicon glyphicon-list"> Details</i>
      <% unless @item.blank? %>
      <i class="glyphicon glyphicon-ok pull-right"></i>
      <% end %>  
    <% end %>
    </li>


    <li role="" class=""> <%= link_to edit_photos_url(@item) do %>
    <i class="glyphicon glyphicon-camera"> Pictures</i>
      <% unless @item.photos.blank? %>
      <i class="glyphicon glyphicon-ok pull-right"></i>
      <% end %>  
    <% end %>
    </li>

    <li role="" class="active"> <%= link_to item_location_url(@item) do %>
    <i class="glyphicon glyphicon-home"> Location</i>
      <% unless @item.location.blank? %>
      <i class="glyphicon glyphicon-ok pull-right"></i>
      <% end %>    
    <% end %>
    </li>

    <li role="" class=""> <%= link_to item_calendar_url(@item) do %>
      <i class="glyphicon glyphicon-calendar"> Calendar</i>
      <% unless @item.calendar.blank? %>
      <i class="glyphicon glyphicon-ok pull-right"></i>
      <% end %>
    <% end %>
    </li>
    
</ul>
</div>
    
    
      <%= render 'form' %>
  

    </form>
  </div>
</div>
</div>














