<% provide(:title, 'Edit listing') %>


<div class="container">
<div class="row">
<div class="col-md-2 navbar-edit">
<ul id="sidebar" class="nav nav-pills nav-stacked">
    <li role="" class=""> <%= link_to edit_item_path do %>
    <i class="glyphicon glyphicon-list"> Details</i>
    <% end %>
    </li>


    <li role="" class=""> <%= link_to edit_photos_url(@item) do %>
    <i class="glyphicon glyphicon-camera"> Pictures</i>
    <% end %>
    </li>

    <li role="" class="active"> <%= link_to item_location_url(@item) do %>
    <i class="glyphicon glyphicon-lock"> Location</i>
    <% end %>
    </li>

    <li><a href="#"><span class="glyphicon glyphicon-envelope"></span>  Calendar</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-list"></span>  Security</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-signal"></span>  Statistics</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-comment"></span>  Chat</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-earphone"></span>  Contacts</a></li>
</ul>
</div>


    <%= form_for(@location) do |f| %>

    <div class="col-md-6 col-md-offset-1 ">
    <%= render 'shared/error_messages', object: f.object %>
    <form role="form">
      <h1>Arm location</h2>

      <hr class="colorgraph">

      <div class="row">

        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="form-group">
            <%= f.text_field :street, class: 'form-control input-lg', placeholder: 'Street Address' %>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="form-group">
            <%= f.text_field :apartment, class: 'form-control input-lg', placeholder: 'Apartment (optional)' %>
          </div>
        </div>
      </div>

      <div class="col-xs-4 col-sm-4 col-md-4">
          <div class="form-group">
            <%= f.text_field :city, class: 'form-control input-lg', placeholder: 'City' %>
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
          <div class="form-group">
            <%= f.text_field :state, class: 'form-control input-lg', placeholder: 'State' %>
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
          <div class="form-group">
            <%= f.text_field :zip, class: 'form-control input-lg', placeholder: 'ZIP Code' %>
          </div>
        </div>

      <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-md-offset-4">
        <div class="form-group">
          <h2><%= f.label :country, class: 'form-control' %></h2>
          <%= f.select :country, options_for_select(%w[ USA]), class: 'form-control' %> 
        </div>
      </div>
      </div>

      <hr class="colorgraph">
      <div class="row">
        <div class="col-xs-6 col-md-6 col-md-offset-3"><%= f.submit "Next step", class: "btn btn-primary btn-block btn-lg" %></div>
      </div>
      <% end %>

    </form>
  </div>
</div>
</div>














